*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Mulish", sans-serif;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  color: #000000;
}

.container {
  width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

.btn {
  padding: 15px 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header__flex {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__flex {
    align-items: flex-start;
    margin-top: 10px;
  }
}
.header__img {
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  .header__img {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
  }
}
.header__burger {
  position: relative;
  background-color: transparent;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border: none;
  display: block;
  cursor: pointer;
  margin-top: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__burger {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__burger {
    display: none;
  }
}
.header__span {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff6200;
}
.header__span.is-open::before {
  transform: rotate(-45deg);
}
.header__span::before, .header__span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ff6200;
}
.header__span::before {
  transform: translate(-20px, -9px);
}
.header__span::after {
  transform: translate(-20px, 9px);
}
.header__burger.is-open .header__span::before {
  transform: rotate(45deg);
  right: 0;
}
.header__burger.is-open .header__span::after {
  transform: rotate(-45deg);
  left: 0;
}
.header__burger.is-open .header__burger.is-open {
  transform: scale(0);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-burger {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .menu-burger {
    display: flex;
    align-items: center;
  }
}

.header-list {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-list {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}
.header-list__item {
  margin-left: 30px;
}
.header-list__item.width__submenu {
  position: relative;
}
.header-list__item.width__submenu .submenu {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  display: none;
  background-color: #03283c;
}
.header-list__item.width__submenu .submenu.active {
  display: block;
  animation: fade 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list__item.width__submenu .submenu__link {
  display: flex;
  padding: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}
.header-list__item.width__submenu .submenu__link:hover, .header-list__item.width__submenu .submenu__link:focus {
  background-color: #ff6200;
}
.header-list__link {
  display: flex;
  align-items: center;
  padding: 20px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #010d14;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list__link:hover, .header-list__link:focus {
  color: #ff6200;
}
.header-list__link .submenu__arrow {
  transform: rotate(0);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list__link .submenu__arrow.active {
  transform: rotate(180deg);
}

.header-list-btn {
  display: flex;
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-list-btn {
    margin-left: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-start;
    margin-top: 5px;
  }
}
@media screen and (max-width: 767px) {
  .header-list-btn {
    display: none;
  }
}
.header-list-btn__item:not(:last-child) {
  margin-right: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-list-btn__item:not(:last-child) {
    margin-right: 0;
  }
}
.header-list-btn__btn {
  transform: scale(1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-btn__btn:hover, .header-list-btn__btn:focus {
  transform: scale(1.1);
  background-color: #03283c;
  color: #ffffff;
}

.header {
  position: relative;
}

.hero {
  overflow: hidden;
  padding-bottom: 330px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    padding-bottom: 29px;
  }
}
.hero__img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: -105px;
  z-index: -1;
  width: 720px;
}
.hero__leftblock {
  padding-top: 150px;
  max-width: 448px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__leftblock {
    background-color: #ffffff;
    max-width: 500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
  }
}
@media screen and (max-width: 767px) {
  .hero__leftblock {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 70px;
    width: 360px;
  }
}
.hero__subtitle {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.89;
  opacity: 0.85;
  color: #08699e;
}
.hero__title {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 34px;
    margin-bottom: 10px;
  }
}
.hero__title--span {
  font-weight: 700;
  color: #ff6200;
}

.hero-list {
  display: flex;
}
.hero-list__item:not(:last-child) {
  margin-right: 10px;
}
.hero-list__btn {
  transform: scale(1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-list__btn:hover, .hero-list__btn:focus {
  transform: scale(1.05);
  color: #ffffff;
  background-color: #03283c;
}

.under-hero {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .under-hero {
    background-color: #03283c;
  }
}

.under-hero-list {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .under-hero-list {
    flex-wrap: wrap;
  }
}
.under-hero-list__item {
  text-align: center;
}
.under-hero-list__item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (max-width: 767px) {
  .under-hero-list__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
.under-hero-list__span {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.22;
  text-transform: capitalize;
  color: #03283c;
}
@media screen and (max-width: 767px) {
  .under-hero-list__span {
    color: #ffffff;
  }
}
.under-hero-list__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: #03283c;
}
@media screen and (max-width: 767px) {
  .under-hero-list__text {
    color: #ffffff;
  }
}
.under-hero-list__line {
  max-height: 62px;
  margin-right: 50px;
  border: 1px solid rgb(0, 0, 0);
}
@media screen and (max-width: 767px) {
  .under-hero-list__line {
    display: none;
  }
}

.current-offers {
  padding-top: 50px;
  padding-bottom: 70px;
}
.current-offers__title {
  margin-bottom: 15px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.22;
  text-transform: capitalize;
  color: #03283c;
}
.current-offers__text {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.3px;
}
.current-offers__under-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.3px;
  margin-top: 50px;
}

.offers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;
}
.offers-list__item {
  width: calc((100% - 90px - 30px) / 4);
  border: 1px solid #e0e5e2;
  margin: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .offers-list__item {
    width: calc((100% - 90px - 30px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .offers-list__item {
    width: 300px;
  }
}
.offers-list__img {
  margin-bottom: 15px;
}
.offers-list__content {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-left: 15px;
}
.offers-list__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-left: 10px;
}
.offers-list__text {
  padding: 0 15px 0 15px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
}
.offers-list__arrow-up {
  height: 48px;
  position: relative;
}
.offers-list__btn {
  position: relative;
  display: inline-block;
}
.offers-list__img-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #d6effd;
}

.our-vision {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background-color: #03283c;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-vision {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.our-vision__title {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.22;
  text-transform: capitalize;
  color: #ffffff;
}
.our-vision__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: #ffffff;
}

.who-we-are {
  padding-top: 423px;
  padding-bottom: 373px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .who-we-are {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (max-width: 767px) {
  .who-we-are {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}
.who-we-are__img {
  position: absolute;
  top: -70px;
  right: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .who-we-are__img {
    top: -110px;
  }
}
@media screen and (max-width: 767px) {
  .who-we-are__img {
    opacity: 0.1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.who-we-are__content {
  max-width: 535px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .who-we-are__content {
    width: 200px;
  }
}
.who-we-are__title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 0.83;
  letter-spacing: 0.1px;
  text-transform: capitalize;
  color: #03283c;
}
.who-we-are__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.3px;
}

.what-we-do {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #03283c;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .what-we-do {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.what-we-do__title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.22;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
}
.what-we-do__text {
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

.what-we-do-list {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .what-we-do-list {
    flex-wrap: wrap;
  }
}
.what-we-do-list__item {
  max-width: 380px;
  padding: 35px;
  border-top: 6px solid #ff6200;
  background-color: #ffffff;
}
.what-we-do-list__item:not(:last-child) {
  margin-right: 74px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .what-we-do-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .what-we-do-list__item:not(:last-child):not(:last-child) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
.what-we-do-list__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  color: #010d14;
}
.what-we-do-list__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.3px;
}

.digital {
  padding-top: 190px;
  padding-bottom: 230px;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .digital {
    overflow: hidden;
    padding-bottom: 155px;
    padding-top: 160px;
  }
}
@media screen and (max-width: 767px) {
  .digital {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.digital__img {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .digital__img {
    right: -300px;
  }
}
@media screen and (max-width: 767px) {
  .digital__img {
    opacity: 0.1;
    height: 100%;
  }
}
.digital__leftblock {
  max-width: 600px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .digital__leftblock {
    width: 350px;
  }
}
.digital__title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.22;
  text-transform: capitalize;
  color: #03283c;
}
.digital__text {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.3px;
}
.digital__btn {
  transform: scale(1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: #ff6200;
}
.digital__btn:hover, .digital__btn:focus {
  transform: scale(1.05);
}

.benefits {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #03283c;
}
.benefits__title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.22;
  text-transform: capitalize;
  color: #ffffff;
}
.benefits__text {
  max-width: 600px;
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
}

.benefits-list {
  display: flex;
  margin: -15px;
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-list {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .benefits-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.benefits-list__item {
  width: 300px;
  border-top: 6px solid #ff6200;
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .benefits-list__item:not(:last-child) {
    margin-right: 35px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-list__item {
    width: calc((100% - 30px - 30px) / 2);
    margin: 15px;
  }
}
@media screen and (max-width: 767px) {
  .benefits-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.benefits-list__content {
  padding-top: 38px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.benefits-list__img {
  margin-bottom: 30px;
}
.benefits-list__title {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #010d14;
}
.benefits-list__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.3px;
}

.ready {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .ready {
    padding-top: 30px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .ready {
    padding-top: 40px;
    padding-bottom: 0;
  }
}
.ready__title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.22;
  text-transform: capitalize;
  color: #03283c;
}
.ready__text {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.3px;
  color: #010d14;
}
.ready__btn {
  width: 450px;
  transform: scale(1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: #03283c;
}
@media screen and (max-width: 767px) {
  .ready__btn {
    width: 200px;
  }
}
.ready__btn:hover, .ready__btn:focus {
  transform: scale(1.05);
}

.team {
  padding-top: 156px;
  padding-bottom: 156px;
}
@media screen and (max-width: 767px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.team__content {
  max-width: 1125px;
  border: 3px solid #ff6200;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}
.team__title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 0.83;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: capitalize;
  color: #03283c;
}
.team__text {
  margin-bottom: 45px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 2.22;
  text-align: center;
  letter-spacing: 0.1px;
  color: #03283c;
}
.team__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team__img:not(:last-child) {
  margin-right: 50px;
}

.team-list {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .team-list {
    flex-wrap: wrap;
  }
}
.team-list__item {
  max-width: 300px;
  text-align: center;
}
.team-list__item:not(:last-child) {
  margin-right: 60px;
}
@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-right: 0;
  }
}
.team-list__img {
  display: inline-block;
  margin-bottom: 20px;
}
.team-list__title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #03283c;
}
.team-list__text {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.3px;
}
.team-list__under-text {
  margin-bottom: 45px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  letter-spacing: 0.3px;
}

.subscribe {
  padding-top: 204px;
  padding-bottom: 204px;
  text-align: center;
  background-image: url(../img/subscribe-fon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .subscribe {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
.subscribe__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.75;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.subscribe__text {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.3px;
  color: #ffffff;
}
.subscribe__under-text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .subscribe-form {
    flex-direction: column;
    align-items: center;
  }
}
.subscribe-form__input {
  margin-bottom: 16px;
  width: 450px;
  height: 52px;
  padding: 16px 20px;
  border: 1px solid #d3dad7;
}
@media screen and (max-width: 767px) {
  .subscribe-form__input {
    margin-bottom: 30px;
    text-align: center;
    width: 400px;
  }
}
.subscribe-form__btn {
  height: 52px;
  margin-left: 15px;
  color: #ffffff;
  background-color: #ff6200;
  transform: scale(1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .subscribe-form__btn {
    margin-bottom: 30px;
  }
}
.subscribe-form__btn:hover, .subscribe-form__btn:focus {
  transform: scale(1.05);
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #03283c;
}
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.footer__line {
  border: 1px solid #d3dad7;
  opacity: 0.5;
  display: flex;
  margin-bottom: 35px;
}
.footer__copy {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #d3dad7;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  margin-bottom: 35px;
}
.footer-list__item {
  display: flex;
  flex-direction: column;
}
.footer-list__item:not(:last-child) {
  margin-right: 85px;
}
@media screen and (max-width: 767px) {
  .footer-list__item:not(:last-child) {
    margin-right: 60px;
  }
}
.footer-list__title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}
.footer-list__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  transform: scale(1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #b0bdb7;
}
.footer-list__link:not(:last-child) {
  margin-bottom: 9px;
}
.footer-list__link:hover, .footer-list__link:focus {
  transform: scale(1.1);
  color: #ff6200;
}
.footer-list__last-link {
  margin-top: 32px;
}

.footer-list-soc {
  display: flex;
}
.footer-list-soc__item:not(:last-child) {
  margin-right: 34px;
}
.footer-list-soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #d3dad7;
}
.footer-list-soc__link:hover, .footer-list-soc__link:focus {
  transform: scale(1.2);
  color: #ff6200;
}
.footer-list-soc__svg {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */