.current-offers {
  padding-top: 50px;
  padding-bottom: 70px;

  &__title {
    margin-bottom: 15px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.22;
    text-transform: capitalize;

    color: $text-032;
  }

  &__text {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;

    text-align: center;
    letter-spacing: 0.3px;
  }

  &__under-text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.3px;
    margin-top: 50px;
  }
}

.offers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;

  &__item {
    width: calc((100% - 90px - 30px) / 4);
    border: 1px solid #e0e5e2;
    margin: 15px;
  }

  &__img {
    margin-bottom: 15px;
  }

  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 15px;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-left: 10px;
  }

  &__text {
    padding: 0 15px 0 15px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-transform: capitalize;
  }

  &__arrow-up {
    height: 48px;
    position: relative;
  }

  &__btn {
    position: relative;
    display: inline-block;
  }

  &__img-arrow {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: center;
    background-color: #d6effd;
  }
}
