body {
  font-family: 'Mulish', sans-serif;
  font-family: 'Montserrat', sans-serif;

  background-color: $main-bgc;
  color: $main-text;

  &.menu-open {
    overflow: hidden;
  }
}

.container {
  width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;

  @include tablet {
    width: 768px;
  }

  @include mobile {
    width: 480px;
  }
}

.btn {
  padding: 15px 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  cursor: pointer;

  background-color: transparent;
  border-color: transparent;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
