.header {
  &__flex {
    display: flex;
    align-items: center;

    @include tablet {
      align-items: flex-start;
      margin-top: 10px;
    }
  }

  &__img {
    margin-left: 20px;
    margin-right: 20px;

    @include mobile {
      margin-left: 0;
      margin-right: 0;
      margin-top: 10px;
    }
  }

  &__burger {
    position: relative;
    background-color: transparent;
    margin-left: auto;
    width: 40px;
    height: 40px;
    border: none;
    display: block;
    cursor: pointer;
    margin-top: 10px;

    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }

  &__span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 3px;

    background-color: $accent;
  }

  &__span::before,
  &__span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 300ms $cubic;

    background-color: $accent;
  }

  &__span::before {
    top: 14px;
  }

  &__span::after {
    top: -11px;
  }

  &__burger.is-open {
    .header__span::before {
      transform: rotate(-45deg);
      top: 0;
      left: 0;
    }

    .header__span::after {
      transform: rotate(45deg);
      top: 0;
      left: 0;
    }

    .header__span {
      background-color: transparent;
    }
  }
}

.menu-burger {
  @include tablet {
    display: flex;
    align-items: center;
  }
  @include desktop {
    display: flex;
    align-items: center;
  }
}

.header-list {
  display: flex;
  align-items: center;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    display: none;
  }
  &__item {
    margin-left: 30px;

    &.width__submenu {
      position: relative;

      .submenu {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        display: none;

        &.active {
          display: block;
          animation: fade 300ms $cubic;
        }

        background-color: $secondary-bgc;

        &__link {
          display: flex;
          padding: 15px;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.25;
          transition: background-color 300ms $cubic;

          color: $white-text;

          &:hover,
          &:focus {
            background-color: $accent;
          }
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 20px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: $text-010;

    transition: color 300ms $cubic;

    &:hover,
    &:focus {
      color: $accent;
    }

    .submenu__arrow {
      transform: rotate(0);
      transition: transform 300ms $cubic;
      &.active {
        transform: rotate(180deg);
      }
    }
  }
}

.header-list-btn {
  display: flex;
  margin-left: auto;

  @include tablet {
    margin-left: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-start;
    margin-top: 5px;
  }

  @include mobile {
    display: none;
  }

  &__item:not(:last-child) {
    margin-right: 15px;

    @include tablet {
      margin-right: 0;
    }
  }

  &__btn {
    transform: scale(1);
    transition: transform 300ms $cubic, color 300ms $cubic, background-color 300ms $cubic;

    &:hover,
    &:focus {
      transform: scale(1.1);

      background-color: $secondary-bgc;
      color: $white-text;
    }
  }
}
