.what-we-do {
  padding-top: 80px;
  padding-bottom: 80px;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  background-color: $secondary-bgc;

  &__title {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.22;
    text-transform: capitalize;
    text-align: center;

    color: $white-text;
  }

  &__text {
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;

    color: $white-text;
  }
}

.what-we-do-list {
  display: flex;
  justify-content: center;

  @include mobile {
    flex-wrap: wrap;
  }

  &__item {
    max-width: 380px;
    padding: 35px;
    border-top: 6px solid $accent;

    background-color: $main-bgc;
    &:not(:last-child) {
      margin-right: 74px;

      @include tablet {
        margin-right: 30px;
      }

      @include mobile {
        &:not(:last-child) {
          margin-right: 0px;
          margin-bottom: 20px;
        }
      }
    }
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;

    color: $text-010;
  }

  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.3px;
  }
}
