.who-we-are {
  padding-top: 423px;
  padding-bottom: 373px;
  position: relative;
  overflow: hidden;
  &__img {
    position: absolute;
    top: -70px;
    right: 0;
  }

  &__content {
    max-width: 535px;
  }
  &__title {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 0.83;
    letter-spacing: 0.1px;
    text-transform: capitalize;

    color: $text-032;
  }

  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.3px;
  }
}
