// cubic cubic-bezier(0.4, 0, 0.2, 1)
// accent #FF6200;
// white text #ffffff;
// main text #000000;
// footer main #B0BDB7;
// footer secondary #D3DAD7
// skyblue #08699E
// text 010  #010D14
// text 032  #03283C;

// secondary bgc #03283C;
// main bgc #ffffff;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$accent: #ff6200;

$main-text: #000000;
$white-text: #ffffff;
$skyblue-text: #08699e;
$main-footer: #b0bdb7;
$secondary-footer: #d3dad7;
$text-010: #010d14;
$text-032: #03283c;

$main-bgc: #ffffff;
$secondary-bgc: #03283c;
